.battle-global-box {
  background-color: rgb(233, 230, 230);
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  min-height: 100px;
  margin: 40px;
}
.battle-title {
  text-align: center;
  font-size: 60px;
  margin-bottom: 20px;
  font-style: italic;
  background: linear-gradient(
    135deg,
    #e0e0e0 0%,
    #f8f8f8 25%,
    #c0c0c0 50%,
    #f8f8f8 75%,
    #e0e0e0 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2),
    -1px -1px 2px rgba(112, 107, 107, 0.5);

  font-weight: bold;
}
.battleList-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.dm-box {
  text-align: center;
  font-style: italic;
  font-size: larger;
}
.winner-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.winner-pic-box {
  width: 200px;
  height: 200px;
}
.winner-pic {
  width: 100%;
}
.winner-name {
  font-size: 24px;
  font-weight: bold;
}
.winner-message {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.return-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aaaaaa;
  color: white;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 10px;

  a {
    text-decoration: none !important;
    color: white !important;
  }
}
.return-button:hover {
  transition: 0.3s;
  background-color: #388e3c;
  cursor: pointer;
}
.return-button:active {
  background-color: #388e3c;
  cursor: pointer;
}
.return-button:focus {
  background-color: #388e3c;
  cursor: pointer;
}
