.library-global-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.library-pokemon-box-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
